@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container">

        <div class="intro-img">
            <img src="~/Content/NewBiz/img/intro-img.svg" alt="" class="img-fluid">
        </div>

        <div class="intro-info">
            <h2>Oferecemos<br><span>a solução ideal</span><br>para o sorteio do seu condomínio</h2>
            <div>
                <a href="#about" class="btn-get-started scrollto">Solicitar Orçamento</a>
                <a href="#services" class="btn-services scrollto">Nossos serviços</a>
            </div>
        </div>

    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>Nossa Solução</h3>
                <p>A SistemaCred9 oferece uma ferramente completa, simples e eficiente para a realização do sorteio de vagas do seu condomínio.</p>
            </header>

            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <p>
                        Sabemos como o processo de sorteio de vagas pode ser complicado e desgastante. Pensando nisso desenvolvemos uma solução para facilitar e dar
                        credibilidade aos sorteios realizados nos condomínios.
                    </p>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-car"></i></div>
                        <h4 class="title"><a href="">Diferentes tipos de vagas</a></h4>
                        <p class="description">Nosso sistema separa os diferentes tipos de vagas que um condomínio pode ter, como vagas duplas, presas, moto e PCD.</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-clock-o"></i></div>
                        <h4 class="title"><a href="">Agilidade na configuração e realização do sorteio</a></h4>
                        <p class="description">Nosso sistema consegue configurar com muita facilidade como será seu sorteio lendo informações preenchida de uma simples planilha.</p>
                    </div>

                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-calendar"></i></div>
                        <h4 class="title"><a href="">Comparecemos no dia do Sorteio</a></h4>
                        <p class="description">Nossa ferramenta permite que o próprio condomínio realize o sorteio, porém se preferir compareços no local no dia e realizamos o sorteio para você.</p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                    <img src="~/Content/NewBiz/img/about-img.svg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="~/Content/NewBiz/img/about-extra-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4>Mais facilidade e comodidade para você</h4>
                    <p>
                        Temos uma equipe preparada para dar todo suporte ao síndico e ao condomínio. Visitamos o local antes da realização do sorteio se necessário e auxiliamos em todo o processo.
                    </p>
                    <p>
                        Se preferir também, realizamos todo o processo, desde a definição da melhor forma de se fazer o sorteio até a realização do sorteio no dia.
                    </p>
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="~/Content/NewBiz/img/about-extra-2.svg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>Facilite a divulgação dos resultados do sorteio</h4>
                    <p>
                        Com nossa solução, os moradores podem visualizar o resultado e todas as etapas do sorteio de forma fácil e descomplicada, 
                        facilitando a comunicação e passando mais credibilidade ao sorteio.
                    </p>
                    <p>
                        Disponibilizamos por 1 ano o resultado do sorteio também no formato em PDF e Excel para que o condomínio possa imprimir e colocar em seu mural de avisos.
                    </p>

            </div>

        </div>
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Funcionalidades</h3>
                <p>Conheça algumas de nossas funcionalidades.</p>
            </header>

            <div class="row">
                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">Sorteio de Teste</a></h4>
                        <p class="description">Realize um sorteio de teste e valide o resultado junto aos moradores.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a href="">Cadastro de Vagas, Apts e Torres</a></h4>
                        <p class="description">Faça a configuração do sorteio apenas uma vez e em uma próxima vez tudo ja estara pronto.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-location-outline" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">Diferenciação de vagas</a></h4>
                        <p class="description">Separa o para cada tipo de vaga: Normal, Presa, Dupla, Deficientes e Moto.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-list-outline" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a href="">Sorteio em diferentes fases</a></h4>
                        <p class="description">Defina etapas da forma que desejar, como por exemplo por setor, por torre e etc.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">Impressão de Resultado</a></h4>
                        <p class="description">Imprima o resultado do sorteio em PDF ou exporte para um Excel.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
                        <h4 class="title"><a href="">Visualização de Resultado Online</a></h4>
                        <p class="description">Assim que o sorteio for realizado, os moradores já podem visualizar o resultado imediatamente.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #services -->
    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
        <div class="container">
            <header class="section-header">
                <h3>Por que nos escolher?</h3>
                <p>Fornecemos uma solução mais simples e mais barata que o restante do mercado.</p>
            </header>

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">274</span>
                    <p>Clientes</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">421</span>
                    <p>Sorteios</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">24</span>
                    <p>Horas de Suporte</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">18</span>
                    <p>Visitas</p>
                </div>

            </div>

        </div>
    </section>

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Relatos de Clientes</h3>
            </header>

            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="owl-carousel testimonials-carousel wow fadeInUp">

                        <div class="testimonial-item">
                            <img src="~/Content/NewBiz/img/testimonial-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Content/NewBiz/img/testimonial-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Content/NewBiz/img/testimonial-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Content/NewBiz/img/testimonial-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Content/NewBiz/img/testimonial-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            </p>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </section><!-- #testimonials -->
   

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container-fluid">

            <div class="section-header">
                <h3>Entre em contato</h3>
            </div>

            <div class="row wow fadeInUp">

                <div class="col-lg-6">
                    <div class="map mb-4 mb-lg-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.927204666723!2d-46.40304598554473!3d-23.499131365181036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce6378a677a221%3A0xc0f77692cba91da9!2sRua+Dr.+Durval+Villalva%2C+211+-+Itaim+Paulista%2C+S%C3%A3o+Paulo+-+SP%2C+08110-240!5e0!3m2!1spt-BR!2sbr!4v1565354227198!5m2!1spt-BR!2sbr" frameborder="0" style="border:0; width: 100%; height: 412px;" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6 info">
                            <i class="ion-ios-location-outline"></i>
                            <p>Rua Durval Villalva, 211</p>
                        </div>
                        <div class="col-md-6 info">
                            <i class="ion-ios-email-outline"></i>
                            <p>contato@condvagas.com.br</p>
                        </div>
                        <div class="col-md-6 info">
                            <i class="ion-ios-telephone-outline"></i>
                            <p>(11) 98100-2906</p>
                        </div>
                    </div>

                    <div class="form">
                        <div id="sendmessage">Sua mensagem foi enviada. Obrigado!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" title="Send Message">Enviar</button></div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #contact -->

</main>
