@model SistemaCred9.Web.UI.ViewModels.Shared.IndexComCondViewModel

<div class="box box-solid">
    <div class="box-header with-border">
        <b>Condomínios</b>
    </div>
    <div class="box-body no-padding" style="display: block;">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var cond in Model.Condominios)
            {
                @Html.MenuItem(cond.Nome, "Index", Model.Controller, 
                    new { @idCondominio = cond.Id }, (cond.Id == Model.CondominioSelecionado))
            }
        </ul>
    </div>
</div>