@using SistemaCred9.Modelo

@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Navegação principal</li>
            @Html.MenuDropDown("Cadastros",
                new[] { "Usuarios" },
                new[] { "Index" },
                new[] { "Usuario" },
                new[] { "" })

            @Html.MenuDropDown("Vendas",
                new[] { "Aguardando Documento", "Documento Pendente", "Cancelado Falta Doc", "Documento Ok", "Aguardando Hiscon", "Hiscon OK", "Aguardando Calculo",
                        "Cancelado Calculo", "Calculo Ok", "Repassando Proposta", "Cancelado Repasse", "Pos Venda", "Pos Venda Ok", "Registro Proposta",
                        "Proposta Registrada"},
                new[] { "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index", "Index" },
                new[] { "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda", "Venda" },
                new[] { new { statusId = (int)VendaStatusEnum.AguardandoDocumento }, new { statusId = (int)VendaStatusEnum.DocumentoPendente },
                        new { statusId = (int)VendaStatusEnum.CanceladoFaltaDocumento }, new { statusId = (int)VendaStatusEnum.DocumentoOk },
                        new { statusId = (int)VendaStatusEnum.AguardandoHiscon }, new { statusId = (int)VendaStatusEnum.HisconOk },
                        new { statusId = (int)VendaStatusEnum.AguardandoCalculo }, new { statusId = (int)VendaStatusEnum.CanceladoPorCalculo },
                        new { statusId = (int)VendaStatusEnum.CalculoOk }, new { statusId = (int)VendaStatusEnum.RepassandoProposta },
                        new { statusId = (int)VendaStatusEnum.CanceladoRepasseProposta }, new { statusId = (int)VendaStatusEnum.PosVenda },
                        new { statusId = (int)VendaStatusEnum.PosVendaOK }, new { statusId = (int)VendaStatusEnum.RegistroProposta },
                        new { statusId = (int)VendaStatusEnum.PropostaRegistrada }
            })

        </ul>
    </section>
</aside>