@model Raelson.Safira.Web.UI.ViewModels.Shared.IndexComClienteViewModel

<div class="box box-solid">
    <div class="box-header with-border">
        <b>Abertas/Fechadas</b>
    </div>
    <div class="box-body no-padding" style="display: block;">
        <ul class="nav nav-pills nav-stacked">
            @Html.MenuItem("Abertas", "Index", Model.Controller,
                new { @ativado = (!Model.Ativado), @clienteId = Model.ClienteSelecionado }, 
                (Model.Ativado == true))

            @Html.MenuItem("Fechadas", "Index", Model.Controller,
                new { @ativado = (!Model.Ativado), @clienteId = Model.ClienteSelecionado }, 
                (Model.Ativado == false))
        </ul>
    </div>
</div>