@{
    ViewBag.Title = "Safira";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
</head>

<body class="skin-blue">

    <section class="content">
        @RenderBody()
    </section><!-- /.content -->

</body>
</html>
